<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{#if title}}{{title}}{{else}}My App title{{/if}}</title>

    <link rel="stylesheet" type="text/css" href="/dist/main.css">
    <script async src="/dist/main.bundle.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
